<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div class="container">
      <h3>Environment = {{ env }}</h3>
      {{ jsonfile }}
    </div>
    <div>
      {{ headerfile }}
    </div>
  </body>
</html>
